/* Container */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://img.freepik.com/free-photo/shimmering-gold-moon-stars-pattern-watercolor_53876-96089.jpg?t=st=1740554878~exp=1740558478~hmac=2bc9f08a4f7222abaafb4b96b2eb890f9ab02cc6730407100f1f6d7490d83cbb&w=1380') 
    no-repeat center center/cover;
  font-family: 'Arial', sans-serif;
}

/* Form */
.login-form {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 28rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

/* Title */
.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #444;
}

/* Error */
.login-error {
  color: red;
  margin-bottom: 1rem;
}

/* Input Group */
.input-group {
  position: relative;
  margin-bottom: 1.8rem;
}

/* Input Field */
.input-field {
  width: 100%;
  padding: 1rem 0.8rem 0.4rem;
  border-radius: 0.5rem;
  background: #fafafa;
  color: black;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

/* Floating Label */
.floating-label {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent;
}

/* Floating effect */
.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label {
  top: -0.6rem;
  left: 0.6rem;
  font-size: 0.8rem;
  color: rgb(122, 91, 50);
  padding: 0 0.3rem;
}

.input-field:focus {
  border-color: rgb(122, 91, 50);
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 1rem;
}

.login-button, .signin-button {
  width: 45%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: rgb(182, 149, 106);
  color: white;
  transition: background 0.3s ease-in-out;
}

.login-button:hover { background-color: #7f4a05; }
.signin-button:hover { background-color: #7f4a05; }
